th {
  border: 1px solid var(--primary-color);
}
tr {
  border: 1px solid lightgray;
}
thead {
  background-color: lightgreen;
}
td {
  border: 1px solid lightgray;
}
table {
  padding: 0.5rem;
}
.employees__notFound {
  min-height: 60svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
