th {
  border: 1px solid var(--primary-color);
}
tr {
  border: 1px solid lightgray;
  text-transform: capitalize;
}
thead {
  background-color: lightgreen;
}
td {
  border: 1px solid lightgray;
}
table {
  animation: scaleAnimation 300ms ease-in forwards;
  padding: 0.5rem;
}
@keyframes scaleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.employees__notFound {
  min-height: 60svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
